@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	background-color: white;
	margin: 0;
}
.container{
	display: flex;
	top: 0;
	z-index: 1;
	width: 100%;
	padding: 12px;
	position: fixed;
	max-height: 36px;
	min-height: 36px;
	align-items: center;
	flex-wrap: wrap;
	background-color: whitesmoke;
}
.content{
	position: absolute;
	z-index: 0;
	margin-top: 60px;
	font-family: 'Roboto';
}
.nav-i a{
	display: block;
	color: black;
	text-decoration: none;
}
.nav-i{
	align-self: center;
	font-family: 'Roboto';
	font-weight: bold;
	margin-right: 15px;
}
.nav-brand{
	font-size: 26px;
	margin-right: 20px;

}
.nav-i-1{
	font-size: 18px;
}
.nav-i-2{
	font-size: 18px;
}
.nav-i-3{
	font-size: 18px;
}
.nav-i-4{
	font-size: 18px;
}